#main_box{
	padding-left: 40px;
}

.info_box{
	height: 250px;
	color: #555;
	font-size: 1.2em;
}

.info_title{
	color: #45C2B3;
}

.photo_box{
	width: 250px;
	height: 300px;
	margin:0 15px;
	border: 1px solid #ccc;
}

#photo_first{
	margin-left:40px;
}