#main_box{
	padding-left: 40px;
}

.info_box{
	height: 250px;
	color: #555;
	font-size: 1.2em;
}

.info_title{
	color: #45C2B3;
}

.photo_box{
	width: 250px;
	height: 500px;
	margin:0 15px;
}

#photo_first{
	margin-left:40px;
}

.man_photo{
	margin: 0 auto;
	width: 220px;
	height: 250px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.name{
	font-size: 1.5em;
	text-align: center;
	line-height: 1.5;
}

.subtitle{
	margin-right: -20px;
	font-size: 1em;
	line-height: 2;
	color: #383838;
}