@media (max-width: 768px) {

	.navbar-collapse {
	  margin-top: -50px;
	  width: 100%;
	}

	.navbar-brand {
	  margin-top: -50px;

	}

	#social_media {
		visibility: hidden;
	}

	#videos {
		height: 280px;
	}

	.bannerContainer{
		height: 480px;

	}

	.blog_circle {
		margin: 60px 40px;
	}

	.blog_title {
		margin-top: 20px;
	}

	#single_video {
		width: 80%;
		height: 400px;
		margin: 20px 40px;
	}

	#map {
    width: 90%;
    height: 300px;
    margin: 20px 40px;
	}	

	#mobile_brand{
		visibility: visible;
		margin-top: 50px;
	}

	.search_bar{
		visibility: hidden;
	}

	#product_spec_1{
    	height: 800px;
	}

	#product_spec_2{
	    height: 800px;
	}

	.pro_img{
	    margin:100px 20px;
	    width: 90%;
	    height: 90%;
	}

	.subtitle {

    margin-top: 0px;

	}

	.pro_p{
	    margin: 200px 25px;
	}

	.pro_img_even{
	    margin-top: -80px;
	    float: left;
	}

	.text_even {
		margin-top: 500px;
		margin-bottom: -700px;
	}

	.product_text{
     	margin: 0 20px;
	}

}