#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: 100px;
}

body{
    background-color: #292929;
    color:rgba(69,194,179,1);
}

.bannerContainer {
    position:relative;
    height: 450px;
}

.carousel {
    position:absolute;
    top:0;
    
}
.navbar {
    position:absolute;
    top:50px;
    z-index:10;
    width:100%;
}

.carousel-inner .item img {
	height: 450px;
	width: 100%;
}

.search_bar{
    position: relative;
    height: 30px;
    z-index: 15;
}

input[type=search] {
    border:0; 
    padding:10px; 
    font-size:1em; 
    font-family:Arial, sans-serif; 
    color:#aaa; 
    border:solid 1px #ccc;
    margin-top: 10px; 
    margin-right:15px;
    width:150px;
    height: 30px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.software{
    margin-left: 20px;
    margin-top: 20px;
    height: 250px;
    background-color: #fff;
    color:rgba(69,194,179,1);
}

.software > p{
    color: black;
}

.product_slide{
    margin-top: 10px;
}

.product_slide > .img-rounded {
    margin: 5px;
}

.hardware{
    margin-right: 50px;
    margin-top: 20px;
    height: 250px;
    background-color: #fff;
    color:rgba(69,194,179,1);
}

.hardware > p{
    color: black;
}

.dpdown_btn {
    font-size: 1.2em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.img-box-1{
    margin-left: 5px;
}

.img-box-2{
    margin-right: -35px;
}

.youtube-height{
    height:220px;
}

.partner-box {
    margin: 15px auto;
}

h2 > .upcoming_event{
    color: #fff;
}

.events-box-1{
    height: 250px;
    margin-left: 20px;
    color:orange;
}

.events-box-2{
    height: 250px;
    margin-left: 15px;
    padding: 0 5px 5px;
}

.events-box-2, .img-rounded{
    margin: 10px;
}

.events-box-3{
    height: 250px;
    margin-right: 50px;
    background-color: #fff;
    border: 1px #ccc solid;
}

hr.horizontal_line_event, hr.horizontal_line_blog, hr.footer_widget {
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff;
}

hr.horizontal_line_event:after {
    content: "Upcoming Event";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2em;
    color: rgba(69,194,179,1);
    padding: 0 0.25em;
    background-color: #292929;
    left: 50px;
}

hr.horizontal_line_blog:after {
    content: "Blog";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2em;
    color: rgba(69,194,179,1);
    padding: 0 0.25em;
    background-color: #292929;
    left: 50px;
}


.block{
    height: 30px;
}

.blog-thumbnails{
    padding: 30px;
}

.blog-text{
    text-align: justify;
    color: #fff;
}


.footer_title{
    color: #fff;
    background: rgba(69,194,179,1);
    padding: 5px;
    margin-top: -10px;
    margin-left: 30px;
}

.footer-text {
    text-align: justify;
    margin-top: 15px;
    color: #ccc;
    margin-left: 30px;
}

#copyright {
    text-align: center;
}