body{
    background-color: #292929;
}

.bannerContainer {
    position:relative; 
    height: 450px;
    
}
.carousel {
    position:absolute;
    top:0;
    
}
.navbar {
    position:absolute;
    top:50px;
    z-index:10;
    width:100%;
}

.carousel-inner .item img {
	height: 450px;
	width: 100%;
}

.search_bar{
    position: relative;
    height: 30px;
    z-index: 15;
}

input {
    border:0; 
    padding:10px; 
    font-size:1em; 
    font-family:Arial, sans-serif; 
    color:#aaa; 
    border:solid 1px #ccc;
    margin-top: 10px; 
    margin-right:15px;
    width:150px;
    height: 30px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
